/* GLOBAL + GLOBAL-GRID */

body{
    display:grid;
    padding:10px;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-areas:
    "h h h"
    "a a a"
    "b d d"
    "b . ."
    "b . .";
}

h1{
    color:green;
    font-family:"rock salt", cursive;
}

h2{
    color:gold;
    text-shadow:1px 1px 1px black;
}

.team-list > h2, .signoff{
    font-family:"rock salt", cursive;
}

h2, h3, h4, p, th, td{
    font-family:"lato", sans-serif;
}

p, th, td{
    text-align: left;
}

.player-data{
    font-size:.75em;
}

header{
    grid-area:h;
}

#playerList{
    float:left;
}

.currentDrafted{
    color:red;
}

#tracker{
    grid-area:a;
}

#playerList{
    grid-area:b;
}

#current-team{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#teamsList{
    grid-area:d;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    text-align:right;
    margin:20px;
}

.team-list{
    margin:10px;
}

#teamsList > div > table{
    width:100%;
}

table { border-collapse: collapse; }

tr{
    border:dotted 1px black;
    padding:2px;
    margin:2px;
}

td, th, button{
    padding:5px;
}

.keeper{
    color:green;
}

.draftable{
    display:block;
}

.pos-label{
    font-size:.75em;
}

.bench{
    display:flex;
    flex-direction:column;
}

.round-drafted{
    font-weight:bold;
    text-align: right;
}

.draft{
    height:100%;
    width:50px;
    padding:10px 0;
}

.gone{
    display:none;
}

.AndrewLuck, .AndyDalton, .MarkIngram, .PatMahomes, .ZachErtz, .AntonioBrown, .DavidJohnson, .JulioJones, .TravisKelce, .DerriusGuice, .AlvinKamara, .DavanteAdams, .ToddGurley, .EvanEngram, .EzekielElliott, .AdamThielen, .DeAndreHopkins, .MichaelThomas, .OdellBeckhamJr, .JamesConner, .ChristianMcCaffrey, .DalvinCook, .SaquonBarkley, .ChicagoDefense, .JordanHoward{
    display:none;
}

@media all and (max-width: 900px) {

    body{
        display:flex;
        flex-direction: column;
    }

    #teamsList{
        display:flex;
        flex-direction: column;
    }

    #playersList{
        width:90%;
    }

    .player-data:nth-child(6){
    display:none;
    }

    .player-data:nth-child(7){
    display:none;
    }

    .player-data:nth-child(8){
    display:none;
    }

    th:nth-child(7){
    display:none;
    }

    th:nth-child(8){
    display:none;
    }

    th:nth-child(6){
    display:none;
    }
}