.status-tabs-labels {
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    li {
      width: 50%;
      cursor: pointer;
      color: map-get($colors, 'blue');

      .active {
        color: map-get($colors, 'black');
      }

      &:hover {
        color: map-get($colors, 'black');
      }

      h3 {
        margin-bottom: 0;
      }

      margin-bottom: 18.72px;
    }
  }
}
