.header {
  max-height: 200px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  div {
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:first-child {
      text-align: left;
      justify-content: flex-start;
    }
    &:last-child {
      text-align: right;
      justify-content: flex-end;
    }
  }
}
