.manager-list {
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin: 0 5%;

  div {
    width: 30%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 10px;
    padding: 0px;
  }
}
