.player-table {
  max-height: calc(100vh - 200px);
  width: 100%;
  overflow-y: scroll;
  margin-top: 30px !important;
  border-right: 1px solid map-get($colors, 'black');
  border-left: 1px solid map-get($colors, 'black');

  table {
    width: 100%;
  }

  .global-filter {
    th {
      padding: 10px 0;
    }

    input {
      margin: 0;
    }
  }

  .players {
    width: 100%;
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightgrey;

    &:nth-child(even) {
      background-color: lightblue;
    }

    button {
      width: 100%;
    }
  }
}
