.player-container {
  height: calc(100vh - 100px);
  padding: 0 15px;
  margin: 0 30px;
  overflow-y: scroll;
  -webkit-box-shadow: -2px 4px 24px hsla(0, 0%, 75.3%, 0.25);
  box-shadow: -2px 4px 24px hsla(0, 0%, 75.3%, 0.25);

  table {
    margin: 0px;
    margin-top: 30px;
    width: 100%;
  }

  .global-filter {
    th {
      padding: 10px 0;
    }

    input {
      margin: 0;
    }
  }
}

.players {
  width: 100%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px lightgrey;

  &:nth-child(even) {
    background-color: lightblue;
  }
}

.draft-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    width: 75%;
    margin: 5px;
    background-color: map-get($colors, 'pink');
    border: 0;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px black;
    padding: 10px;
  }
}
